<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Import Vega 5 & Vega-Lite 3 (does not have to be from CDN) -->
    <script src="https://cdn.jsdelivr.net/npm/vega@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@2.6.0"></script>
    <!-- Import vega-embed -->
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@4.0.0"></script>

    <style>
      .hide-scrollbar::-webkit-scrollbar { 
        display: none; 
      }
      .hide-highlight:focus {
        outline-width: 0;
      }
    </style>

    <title>Example</title>

  </head>
  <body>
    <div class="d-flex justify-content-center mt-5">
      <div id="app" class="card" style="width: 900px; height: 500px;">
        <div class="row no-gutters h-100">
          <div class="col-8 d-flex justify-content-center align-items-center h-100" style="border-right: 1px solid rgba(0,0,0,.125)">
            <div id="vis"></div>
            <!-- <img src="https://www.excel-easy.com/examples/images/line-chart/line-chart.png" class="card-img" alt="..."> -->
          </div>
          <div class="col-4 d-flex flex-column h-100">
            <div class="card-header">
              <strong>Discover the trend for the price</strong>
            </div>
            <div id="command-panel" class="card-body flex-grow-1 overflow-auto hide-scrollbar p-0">
              <div class="list-group list-group-flush">
                <!-- <a href="#" class="list-group-item list-group-item-action text-center"><small class="text-muted">Conversation Starts</small></a> -->
                <button type="button" v-for="(command, index) in previousCommands" @click="changeHighlightIndex(index)" class="list-group-item list-group-item-action" :class="{active: index==highlightIndex}">
                  <del v-if="!command.valid">{{ command.text }}</del>
                  <span v-else>{{ command.text }}</span>
                </button>
                <!-- <a v-for="(command, index) in previousCommands" @click="changeHighlightIndex(index)" class="list-group-item list-group-item-action" :class="{disabled: !command.valid, active: index==highlightIndex}">{{ command.text }}</a> -->
                <!-- <a href="#" class="list-group-item list-group-item-action">Load the mysterious dataset.</a>
                <a href="#" class="list-group-item list-group-item-action disabled"><del>Hello my name is gaosa.</del></a>
                <a href="#" class="list-group-item list-group-item-action">Set x to something and y to something.</a>
                <a href="#" class="list-group-item list-group-item-action">Show the trends for data in category a, b, c.</a>
                <a href="#" class="list-group-item list-group-item-action">Set the width to 600.</a>
                <a href="#" class="list-group-item list-group-item-action active">Set the color to blue, orange and red.</a> -->
              </div>
              <!-- <p class="card-text"></p> -->
            </div>
            <div class="card-footer">
              <p class="card-text mb-1"><small class="text-muted">{{ helpMessage }}</small></p>
              <input @keyup.enter="sendCommand()" v-model="currentCommand" class="border-0 bg-transparent hide-highlight w-100" type="text" placeholder="type here..."/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- load the graph -->
    <script type="text/javascript">
      var spec = "data.json";
      vegaEmbed('#vis', spec).then(function(result) {
        // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
      }).catch(console.error);
    </script>

    <!-- Vue.js scripts -->
    <script>
      const data = [
            {
              text: 'Load the mysterious dataset.',
              valid: true
            },
            {
              text: 'Hello my name is gaosa.',
              valid: false
            },
            {
              text: 'Set x to something and y to something.',
              valid: true
            },
            {
              text: 'Show the trends for data in category a, b, c.',
              valid: true
            },
            {
              text: 'Set the width to 600.',
              valid: true
            },
            {
              text: 'Set the color to blue, orange and red.',
              valid: true
            },
            {
              text: 'Add grid.',
              valid: true
            }
          ]
      var app = new Vue({
        el: '#app',
        data: {
          helpMessage: 'What do you want to do?',
          currentCommand: '',
          previousCommands: data,
          highlightIndex: data.length - 1,
          shouldScrollToBottom: true,
        },
        mounted: function () {
          this.$nextTick(function () {
            this.scrollToBottom();
          })
        },
        updated: function() {
          if (this.shouldScrollToBottom) {
            this.scrollToBottom();
          }
        },
        methods: {
          changeHighlightIndex: function (newHighlightIndex) {
            this.highlightIndex = newHighlightIndex;
          },
          sendCommand: function () {
            this.shouldScrollToBottom = true;
            this.previousCommands.push({
              text: this.currentCommand,
              valid: true
            });
            this.changeHighlightIndex(this.previousCommands.length - 1);
            this.currentCommand = '';
          },
          scrollToBottom: function() {
            var objDiv = document.getElementById("command-panel");
            objDiv.scrollTop = objDiv.scrollHeight;
            this.shouldScrollToBottom = false;
          }
        }
      })
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>